body {
    background-image: url(../Pictures/filipino\ food\ main.jpg);
    background-size: 100%;
    opacity: 0;
    transition: opacity 1.062s;
}

.text-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: black;
    padding: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.bt{
    margin-left: 3.3px;
    margin-bottom: 20px;
}


.X {
    text-align: left;
    padding-left: 30px; 
}
#c {
	font-size: 100px;
}
a {
	color: gray;
}
.po {
	justify-content: center;
	padding: 350px;
	padding-top: 80px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	#t {
		text-align: center;
		font-size: 70px;
		font-weight: lighter;
	}
	#j {
		font-size: 23px;
		text-align: center;
		color: gray;
	}
}
.X2 {
    display: flex;
    gap: 20px; 
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}
.vin {
	padding: 10px;
}

#n {
	width: 100%;
}
#h {
	font-size: 15px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    padding: 20px;
	padding-bottom: 50px;
}
.horizontal-line {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px auto; 
    width: 75%; 
}

.bottom {
	padding: 200px;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
	padding-top: 50px;
	padding-bottom: 100px;
}
.bt {
	width: 35px;
	height: 30px;
}

.l {
	font-weight: bold;
}
.menu-item {
    flex: 0 0 calc(33.333% - 20px);
    margin-top: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
	border-radius: 0;
}

.menu-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: scale(1.1);
}

.card {
    overflow: hidden;
    background: #fff;
	padding: 20px;
	border-radius: 0;
}

.card-title {
    background-color: rgba(204, 204, 204, 0.578);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 0px;
}

.menu-description {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 0px;
}
.price-text {
    display: block;
    text-align: center;
    width: 100%;
	font-size: 40px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: gray;
	.l {
		color: black;
	}
}

@media (max-width: 1024px) {
    .container, .bottom {
        grid-template-columns: 1fr 1fr;
    }
	.po {
		justify-content: center;
		padding: 250px;
		padding-top: 80px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		#t {
			text-align: center;
			font-size: 50px;
			font-weight: lighter;
		}
		#j {
			font-size: 15px;
			text-align: center;
			color: gray;
		}
	}
}

@media (max-width: 768px) {
    .container, .bottom {
        grid-template-columns: 1fr;
    }

    .text-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .X2 {
        flex-direction: column;
        align-items: center;
    }

    .X2 .vin, .X2 .halo {
        width: 100%;
        text-align: center;
        justify-content: center;
		margin-left: 50px;
    }

    .X2 .vin a {
        margin-right: 10px; 
    }
	
    .X2 .vin a:last-child {
        margin-right: 0px; 
		
    }

    .X2 .halo {
        margin-top: 0px; 
    }

    .menu-item {
        flex: 0 0 100%;
        margin-top: 10px;
    }
	.po {
		justify-content: center;
		padding: 100px;
		padding-top: 80px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		#t {
			text-align: center;
			font-size: 40px;
			font-weight: lighter;
		}
		#j {
			font-size: 15px;
			text-align: center;
			color: gray;
		}
	}
}